:root {
	--dark-grey: rgba(34, 34, 34);
	--dark-grey-opacity: rgba(34, 34, 34, 0.98);
	--white: rgba(255, 255, 255);
	--white-opacity: rgba(255, 255, 255, 0.9);
	--metallic-green: rgba(2, 128, 144);
	--metallic-green-opacity: rgba(2, 128, 144, 0.5);
	--light-green: rgba(0, 191, 178);
	--violet: rgba(52, 35, 166);
}
*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
body {
	background-color: var(--light-green);
	color: var(--dark-grey);
}
