.payment {
	width: 100%;
	min-width: 360px;
	min-height: 480px;
	padding: 1em 0.5em 0.5em 0.5em;
	background: var(--dark-grey);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	color: var(--white);
	position: relative;
	.credit-card {
		width: 300px;
		height: 180px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 0.5rem;
		padding: 1em 2em;
		background-color: grey;
		&__chip {
			width: 2em;
		}
		.credit-card__data {
			.credit-card__number,
			.credit-card__name,
			.credit-card__exp,
			.credit-card__cvv {
				display: flex;
				flex-direction: column;
			}
			.credit-card__cvv {
				width: 3rem;
			}
			.credit-card__label {
				font-size: 1rem;
				color: var(--dark-grey);
			}
			.container-bottom {
				display: flex;
				justify-content: space-between;
			}
		}
	}
	.payment-form {
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5em;
		.data__container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 0.2em;
			.payment__number,
			.payment__name,
			.payment__exp,
			.payment__cvv {
				border: none;
				border-radius: 0.2rem;
				padding: 0.2rem 0;
				padding-left: 0.3rem;
			}
			.payment__number:focus,
			.payment__name:focus,
			.payment__exp:focus,
			.payment__cvv:focus {
				outline: none;
				box-shadow: 0 0 0 1.5px var(--light-green);
			}
		}
		.container-bottom {
			display: flex;
			justify-content: space-between;
			.payment__exp {
				width: 4rem;
			}
			.payment__cvv {
				width: 3rem;
			}
		}
		.pay__btn {
			@include button;
			width: fit-content;
			margin-left: auto;
			margin-right: auto;
			margin-top: 1em;
		}
	}
	&--hide {
		display: none;
	}
}
